/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;
}

.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 45px;
}

.para-primary{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.section-title{
    color: #272727;
    text-align:center;
    font-size: 40px;
    font-weight: 800;
}

.pic-info{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 45px;
}

nav a{
    text-decoration: none;
    color: rgba(180, 139, 139, 0.788);
}


.header{
    background-color: rgba(229, 84, 115, 0.10);
}

.banner{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-around;
}
.banner-content{
    max-width: 500px;
}

.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner .banner-pic{
    width: 500px;
    height: 700px;
}

/* main section styles */


/* our feature related styles */
#features-description{
    padding: 0px 250px;
}
.pic-container{
    display: flex;
    align-items: center;
    padding: 10px 80px;
    gap: 24px;
}

.pic-container a{
    padding-left: 80px;
}

.pic-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pic-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.pic-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* support section */
.support{
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    margin: 0 80px;
}

.support-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 85px;
}

/* hot deal section */

.hotdeals{
    margin-top: 125px;
    background: rgba(229, 84, 115, 0.05);
}

.deals{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.deals-container{
    max-width: 500px;

}


/* instagram section */
#insta-description{
    padding: 0px 250px;
}
.insta-container{
    max-width: 1200px;
    margin: 0 100px;
    overflow: auto;
}

.img-item{
    padding: 5px;
    float: left;
    width: 250px;
}
.img-item img{
    width: 100%;
    height: auto;
}


/* Get the latest deal part */

.section-product input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    text-align: start;
    margin-left: 80px;
}
.section-product{
    align-items: center;
    padding-top: 100px;
}


.subscribe-part{
    background-image: url(../Flower-Asset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

/* birthday part  */

.birthday-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.birth-content{
    margin-top: 100px;
    padding-left: 150px;
    text-align: center;
}

.birthday-container img{
    width: 400px;
}

/* footer part */

.footer-part{
    margin-top: 60px;
    height: 300px;
    padding-top: 100px;
    background-color: #111010;
}
.footer-part h3{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    }
.footer-part p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

#footer-bottom{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}




